/node_modules
/public/hot
/public/storage
/storage/*.key

.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/vendor

# Laravel-Specific
/storage/oauth-private.key
/storage/oauth-public.key
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*

# Frontend (React + Inertia)
/public/mix-manifest.json
/public/build
/public/css
/public/js

# Cache & Debugging
/.cache
/.eslintcache
/.nuxt
/.next

# System-Specific & IDE Files
/.DS_Store
/.editorconfig
/.gitattributes
